<div id="bread-crumbs">
    <ul>
      <li><h3><%= @category.category.html_safe %></h3></li>
    </ul>
</div>
<div id="main-edit-wrapper">
  <ul>
    <li>
      <span class="button-wrapper" id="add-new-subcategory">
            <span class="button"><i>+</i>Add New Subcategory</span>
      </span>
    </li>
  </ul>
</div>
<div id="list">
    <ul>
    <% @subcategories.each do |subcategory| %>

          <li class="subcategory">
          <h2><%= link_to(subcategory.subcategory.html_safe, {:action => 'show', :id => subcategory.id}) %></h2>
          <%= form_for subcategory, :url => {:action => 'update', :id => subcategory.id}, :html => {:action => 'update', :method => 'put', :id => 'subcategory-update', :remote => true} do %><%= text_field(:subcategory, :subcategory, :value => subcategory.subcategory) %><button id="recipe_submit" class="button-wrapper" name="commit" type="submit" ><span class="button">Update Recipe</span></button><a class="button-wrapper subcategory-cancel"><span class="button">Cancel Recipe</span></a><% end %>
          <span class="edit-wrapper">
            <ul>
              <li>
                <span class="button-wrapper"><a href="#" class="button edit-subcategory"><i>-</i>Edit</a>
                </span>
              </li>
              <li>
                <span class="button-wrapper delete-subcategory">
                  <%= link_to({:action => 'destroy', :id => subcategory.id}, :class => 'button') do %>
                      <i>x</i>Delete
                  <% end %>
                </span>
              </li>

            </ul>
          </span>
        </li>
    <% end %>
    </ul>
</div>
<% content_for :javascript do %>
    <script type="text/javascript">
        /*******  NEW SUBCATEGORY *******/
        $('#add-new-subcategory').click(function(){
            $(this).css('display','none');
            var form = '<%= form_for @subcategory, :url => {:action => 'create'}, :html => {'data-type' => 'json',:id => 'new-subcategory', :remote => true} do %><input type="hidden" value="<%= @category.id %>" name="subcategory[category_id]"><input type="text" id="subcategory_subcategory" name="subcategory[subcategory]" size="30"><button id="subcategory_submit" class="button-wrapper" name="commit" type="submit"><span class="button">Add Subcategory</span></button><% end %>';
            $('#list').after(form);
            $('#subcategory_subcategory').focus();
        });
        $("#new-subcategory").live("ajax:success", function(event, data, status, xhr) {
            $(this).css('display','none');
            var subcategory = $.parseJSON(xhr.responseText);
            $('#list > ul').append('<li><h2><a href="/subcategories/show/'+subcategory.subcategory.id+'">'+ subcategory.subcategory.subcategory +'</a></h2><span class="edit-wrapper"><ul><li><span class="button-wrapper delete-subcategory"><a href="/subcategories/destroy/'+ subcategory.subcategory.id +'" class="button"><i>x</i>Delete</a></span></li>');
            $('#add-new-subcategory').css('display','block');
        });


        /*******  UPDATE SUBCATEGORY *******/
        $('.edit-subcategory').live('click',function(){
            var $this = $(this).parents('li.subcategory');
            $this.find('h2').css('display','none');
            $this.find('form').css('display','block').find('input').focus();
        });

        $("#subcategory-update").live("ajax:success", function(event, data, status, xhr) {
            $(this).css('display','none');
            var subcategory = $.parseJSON(xhr.responseText);
            $(this).parent().find('h2').text(subcategory.subcategory.subcategory).css('display','block');
        });
        $('.subcategory-cancel').click(function(){
            $(this).parents('form').css('display','none');
            $(this).parents('li.subcategory').find('h2').css('display','block');
        });

        /*******  DELETE RECIPE *******/
        $('.delete-subcategory a').live('click',function(e){
            e.preventDefault();
            var href = $(this).attr('href');
            $('#bd').append('<div class="lb-content"><p>Are you sure you want to delete this subcategory?</p> <div class="ft"><a href="'+ href +'" class="button-wrapper"><span class="button"><i>x</i>Delete</span></a><span class="button-wrapper delete-cancel"><a class="button">Cancel</a></span></div></div>');
            $('.delete-cancel').click(function(){
                $('.lb-content').css('display','none');
            });

        });
    </script>
<% end %>