
<div id="bd">
    <div class="wrapper">
      <div id="bread-crumbs">
        <ul>
          <li><h3><%= link_to(@recipe.subcategory.category.category, {:controller => 'public', :action => 'subcategories', :id => @recipe.subcategory.category.id}) %></h3></li>

          <li><h3><%= link_to(@recipe.subcategory.subcategory, {:controller => 'public', :action => 'list', :id => @recipe.subcategory.id}) %></h3></li>
        </ul>
      </div>

      <div id="recipe-wrapper">
        <h2 id="recipe-title"><%= @recipe.title.html_safe %></h2>
        <h3 id="recipe-subtitle"><%= @recipe.subtitle.html_safe %></h3>
        <div id="recipe-ingredients">
          <%= @recipe.ingredients.html_safe %>
        </div>
        <div id="recipe-directions">
          <%= @recipe.directions.html_safe %>
        </div>
      </div>
      <div id="social-wrapper">
        <h4><a href="#">Tweet</a></h4>
        <h4><a href="#">Share on Facebook</a></h4>
      </div>
      <div id="tags-wrapper">
        <h4>Tags</h4>
        <div id="tags">

        </div>
      </div>
    </div>

</div>
