<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <script type="text/javascript" src="http://use.typekit.com/nga8gjw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="hd">
      <div class="wrapper"><h1><a href="/">Gretchen&#39;s Cookbook</a></h1>
        <ul id="nav">
          <li><a href="/public/app">App</a></li>
          <li><a href="/public/index">Browse</a></li>
        </ul>
      </div>
    </div>
    <div id="bd">
        <div class="wrapper">
            <%= render 'public/search' %>
            <%= yield %>
        </div>
    </div>
    <div id="ft"></div>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'jquery-ui.min' %>
    <%= javascript_include_tag 'jquery.autocomplete' %>
    <%= javascript_include_tag 'app' %>

</body>
</html>
